body {
    overflow: hidden;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slider-item {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.transition {
    transition: all 1s;
}

.arrow {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.prev, .next {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    width: 10%;
    opacity: 1;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}